<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.DatesDifference"
	android:installLocation="internalOnly" android:versionCode="600302" android:versionName="3.7">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />

	<application android:label="Dates difference" android:icon="@drawable/icon" />

	<queries>
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>
